<!DOCTYPE html>
<html lang="en">

<!-- ======= Head ======= -->
<%-include("layouts/head.ejs")%>
<!-- ======= End Head ======= -->
<body>
  <!-- ======= Header ======= -->
  <%-include("layouts/header.ejs")%>
  <!-- ======= End Header ======= -->



  <!-- ======= Sidebar ======= -->
  <%-include("layouts/sidebar.ejs")%>
  <!-- ======= End Sidebar ======= -->

  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

<!-- User Card -->
<div class="col-xxl-4 col-md-6">
  <a href="/admin/usertotal">
  <div class="card info-card sales-card">
    <div class="card-body">
      <h5 class="card-title">User <span>| Total</span></h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-person"></i> <!-- Change the icon here -->
        </div>
        <div class="ps-3">
          <h6><%=user%> </h6>
        </div>
      </div>
    </div>
  </div>
</a>
</div>
<!-- End User Card -->

<!-- Active User Card -->
<div class="col-xxl-4 col-md-6">
  <a href="/admin/usertotal">
  <div class="card info-card sales-card">
    <div class="card-body">
      <h5 class="card-title">Active User <span>| Total</span></h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-person"></i> <!-- Change the icon here -->
        </div>
        <div class="ps-3">
          <h6><%=activeuser%> </h6>
        </div>
      </div>
    </div>
  </div>
</a>
</div>
<!-- End Active User Card -->

<!--Inactive User Card -->
<div class="col-xxl-4 col-md-6">
  <a href="/admin/usertotal">
  <div class="card info-card sales-card">
    <div class="card-body">
      <h5 class="card-title">Inactive User <span>| Total</span></h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-person"></i> <!-- Change the icon here -->
        </div>
        <div class="ps-3">
          <h6><%=inactiveuser%> </h6>
        </div>
      </div>
    </div>
  </div>
</a>
</div>
<!-- End Inactive User Card -->

<!-- Applicants Card -->

<div class="col-xxl-4 col-md-6">
  <a href="/admin/apply">
  <div class="card info-card sales-card">
    <div class="card-body">
      <h5 class="card-title">Pending Applicants <span>| Total</span></h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-pause-circle"></i> <!-- Change the icon here for Pending -->
        </div>
        <div class="ps-3">
          <h6><%=PendingApplicants%></h6>
        </div>
      </div>
    </div>
  </div>
</a>
</div>

<!-- End Applicants Card -->

<!-- Selected Applicants Card -->
<div class="col-xxl-4 col-md-6">
  <a href="/admin/select">
  <div class="card info-card sales-card">
    <div class="card-body">
      <h5 class="card-title">Selected Applicants <span>| Total</span></h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-check-circle"></i> <!-- Change the icon here for Selected -->
        </div>
        <div class="ps-3">
          <h6><%=SelectedApplicants%></h6>
        </div>
      </div>
    </div>
  </div>
</a>
</div>
<!-- End Selected Applicants Card -->

<!-- Rejected Applicants Card -->
<div class="col-xxl-4 col-md-6">
  <a href="/admin/reject">
  <div class="card info-card sales-card">
    <div class="card-body">
      <h5 class="card-title">Rejected Applicants <span>| Total</span></h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-x-circle"></i> <!-- Change the icon here for Rejected -->
        </div>
        <div class="ps-3">
          <h6><%=RejectedApplicants%></h6>
        </div>
      </div>
    </div>
  </div>
</a>
</div>
<!-- End Rejected Applicants Card -->



<!-- Services Card -->
<div class="col-xxl-4 col-md-6">
  <a href="/admin/service">
  <div class="card info-card sales-card">
    <div class="card-body">
      <h5 class="card-title">Services <span>| Total</span></h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-gear"></i> <!-- Change the icon here for general services -->
        </div>
        <div class="ps-3">
          <h6><%=Services%></h6>
        </div>
      </div>
    </div>
  </div>
</a>
</div>
<!-- End Services Card -->

<!-- Active Services Card -->
<div class="col-xxl-4 col-md-6">
  <div class="card info-card sales-card">
    <div class="card-body">
      <h5 class="card-title">Active Services <span>| Total</span></h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-check2"></i> <!-- Change the icon here for active services -->
        </div>
        <div class="ps-3">
          <h6><%=ActiveServices%></h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Active Services Card -->

<!-- Inactive Services Card -->
<div class="col-xxl-4 col-md-6">
  <div class="card info-card sales-card">
    <div class="card-body">
      <h5 class="card-title">Inactive Services <span>| Total</span></h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-x"></i> 
        </div>
        <div class="ps-3">
          <h6><%=InactiveServices%></h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Inactive Services Card -->


<!-- Blog Card -->
<!-- <div class="col-xxl-4 col-md-6">
  <div class="card info-card sales-card">
    <div class="card-body">
      <h5 class="card-title">Blog <span>| Total</span></h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-pencil"></i> 
        </div>
        <div class="ps-3">
          <h6>  </h6>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- End Blog Card -->



               <!-- Pending Appointment Card -->
<!-- <div class="col-xxl-4 col-md-6">
  <div class="card info-card sales-card">
    <div class="card-body">
      <h5 class="card-title">Pending Appointment <span>| Total</span></h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-calendar-check"></i> 
        </div>
        <div class="ps-3">
          <h6>  </h6>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- End Appointment Card -->



<!-- Contact Card -->
<!-- <div class="col-xxl-4 col-md-6">
  <div class="card info-card sales-card">
    <div class="card-body">
      <h5 class="card-title">Contact Us <span>| Total</span></h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-envelope"></i> 
        </div>
        <div class="ps-3">
          <h6>  </h6>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- End Contact Card -->




<!-- Mobile Repair Service Card -->
<div class="col-xxl-4 col-md-6">
  <a href="/admin/service">
  <div class="card info-card sales-card">
    <div class="card-body">
      <h5 class="card-title">Mobile Repair <span>| Total Employee</span></h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-gear"></i> <!-- Change the icon here for general services -->
        </div>
        <div class="ps-3">
          <h6><%=mobileRepairCount%></h6>
        </div>
      </div>
    </div>
  </div>
</a>
</div>
<!-- End Mobile Repair Service Card -->

<!-- Computer Repair Service Card -->
<div class="col-xxl-4 col-md-6">
  <a href="/admin/service">
  <div class="card info-card sales-card">
    <div class="card-body">
      <h5 class="card-title">Computer Repair Service <span>| Total</span></h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-gear"></i> <!-- Change the icon here for general services -->
        </div>
        <div class="ps-3">
          <h6><%=ComputerRepairCount%></h6>
        </div>
      </div>
    </div>
  </div>
</a>
</div>
<!-- End Computer Repair Service Card -->






          </div>
        </div><!-- End Left side columns -->

       

      </div>
    </section>

  </main><!-- End #main -->




<div style="margin-top: 50px;"></div>


  <!-- ======= Footer ======= -->
  <%-include("layouts/footer.ejs")%>
  <!-- ======= End Footer ======= -->



  <!-- ======= Scripts ======= -->
  <%-include("layouts/scripts.ejs")%>
  <!-- ======= End Scripts ======= -->

  

</body>

</html>
   
