<!DOCTYPE html>
<html lang="en">

<!-- ======= Head ======= -->
<%-include("layouts/head.ejs")%>
<!-- ======= End Head ======= -->
<body>
  <!-- ======= Header ======= -->
  <%-include("layouts/header.ejs")%>
  <!-- ======= End Header ======= -->



  <!-- ======= Sidebar ======= -->
  <%-include("layouts/sidebar.ejs")%>
  <!-- ======= End Sidebar ======= -->

  <main id="main" class="main">
    <div class="pagetitle">
        <h1>Mobile Repair Service Employees</h1>
        
            
        
    </div>

    <% if (message && message.length > 0) { %>
        <h5 style="color: #012970; text-align: center;"><%=message%></h5>
    <% } %>

    <% if (error && error.length > 0) { %>
        <h5 style="color: rgb(232, 22, 22); text-align: center;"><%=error%></h5>
    <% } %>

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <table class="table datatable" style="margin-top: 20px; width: 100%;">
                    <thead>
                        <tr>
                            
                        </tr>
                        <tr>
                            
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Image</th>
                            
                            
                            <th scope="col">Feature</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let datas of data) { %>
                            
                            
                                <tr>
                                    
                                    <td><%= datas.emp_name %></td>
                                    <td><%= datas.emp_email %></td>
                                    <td><%= datas.emp_phone %></td>
                                    <td><img src="/<%= datas.emp_image %>" height="50px" alt="Employee"></td>
                                    

                                   


                                    <% if (datas.emp_isFeature===true) { %>
                                    <td>
                                        <a href="/admin/empmobilerepairfeature/<%= datas._id %>" class="btn btn-success">
                                            Featured
                                        </a>
                                    </td>
                                    <% } else { %>
                                    <td>
                                        <a href="/admin/empmobilerepairfeature/<%= datas._id %>" class="btn btn-danger">
                                            Unfeatured
                                        </a>
                                    </td>
                                    <% } %>


                                    
                                </tr>
                                
                            <% } %>
                            
                        
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>



<div style="margin-top: 300px;"></div>


  <!-- ======= Footer ======= -->
  <%-include("layouts/footer.ejs")%>
  <!-- ======= End Footer ======= -->



  <!-- ======= Scripts ======= -->
  <%-include("layouts/scripts.ejs")%>
  <!-- ======= End Scripts ======= -->

  

</body>

</html>
   
