<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("layouts/head.ejs")%>
</head>
    <%-include("layouts/navbar.ejs")%>
    

    <section>
        <div class="container-fluid py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
              <div class="card mb-3" style="border-radius: 1rem; background-color: aqua;">
                <h1 style="text-align: center; "><strong><%=message%></strong></h1>
                <div class="row g-0">
                  <div class="col-md-5 text-center text-white" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; background-color: #039EE3;">
                    <img src="/<%= data.image %>" alt="Avatar" class="img-fluid my-4" style="width: 120px; height: 120px; border-radius: 100%;">
                    <h4 class="text-white">Name - <%= data.name %></h4>
                    <p class="text-white">Email - <%= data.email %></p>
                    <p class="text-white">Contact No - <%= data.phone %></p>
                    <!-- <i class="far fa-edit mb-5">hi</i> -->
                    <i class="flaticon-barbell" style="font-size: 40px;"><strong>User</strong></i>
                    <div style="padding-bottom: 40px;"></div>
                    <!-- Logout Button with red text color and extra padding -->
                  <a href="/logoutuser" class="btn btn-light" style="color: red; padding-right: 15px;">Logout</a>
                  <div style="padding-bottom: 20px;"></div>

                  </div>
                  <div class="col-md-7" style="background-color: #000000;">
                    <div class="card-body p-3">
                      <h6 class="text-white">Information</h6>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <h6 class="text-white">Email</h6>
                          <p class="text-white"><%= data.email%></p>
                        </div>
                        <div class="col-6 mb-3">
                          <h6 class="text-white">Phone</h6>
                          <p class="text-white"><%= data.phone%></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
      


    <%-include("layouts/footer.ejs")%>
    <%-include("layouts/foot.ejs")%>
</body>
</html>